{{#md-card title=score.title class="grey lighten-4"}}
  {{#md-card-content}}
    <div class="card-subtitle">{{score.composer}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</div>
    {{#if filteredParts}}
      {{#each filteredParts as |part|}}
        <div class="chip" {{action 'download' part}}>
	        {{part.description}}
          <i class="material-icons">file_download</i>
        </div>
      {{/each}}
    {{else}}
      <div class="empty-collection">Geen partituren beschikbaar</div>
    {{/if}}
  {{/md-card-content}}
{{/md-card}}
