{{#liquid-bind score class="part-download-card" as |currentScore|}}
  <div class="part-download-card">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}
            {{score.title}}
          {{/text.headline}}
          {{#text.subhead}}
            {{currentScore.composer}}{{#if currentScore.arranger}}, arr. {{currentScore.arranger}}{{/if}}
          {{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
      {{#card.actions}}
        {{#if filteredParts}}
          <div class="layout-row layout-align-end layout-wrap parts-download-btns">
            {{#each filteredParts as |part|}}
              <div class="part-download-btn" {{action "download" part}}>
                {{paper-icon "file_download"}}{{part.description}}
              </div>
            {{/each}}
          </div>
        {{else}}
          <div><p class="note info-note">Geen partituren beschikbaar</p></div>
        {{/if}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
{{/liquid-bind}}
