<h2>Gegevens</h2>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m8">
	{{md-input value=scoreBuffer.title label="Titel"}}
      </div>
      <div class="col s12 m2">
	{{t-select options=genres value=scoreBuffer.genre label="Genre"}}
      </div>
      <div class="input-field col s12 m2">
	{{md-check name="In archief" checked=scoreBuffer.isArchived}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
	{{md-input value=scoreBuffer.composer label="Componist"}}
      </div>
      <div class="input-field col s12 m4">
        {{md-input value=scoreBuffer.arranger label="Arrangeur"}}
      </div>
      <div class="input-field col s12 m4">
        {{md-input value=scoreBuffer.publisher label="Publisher"}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m10">
	{{md-textarea value=scoreBuffer.description label="Beschrijving"}}
      </div>
	<div class="input-field col s12 m2">
	  {{#md-input-duration for="duration" millis=scoreBuffer.duration}}Duur{{/md-input-duration}}
	</div>
    </div>
  </form>
</div>

<div class="row">
  {{#md-btn action='save'}}Opslaan{{/md-btn}}
  {{#md-btn action='cancel'}}Annuleer{{/md-btn}}
</div>

{{#unless scoreBuffer.isNew}}
  <h3>Partituren</h3>
    {{#each scoreBuffer.parts as |part|}}
      <a href="{{part.file}}/download" target="_blank" title="Download">
	<div class="attachment grey lighten-3 grey-text valign-wrapper center-align">
	  <i class="material-icons small right delete" {{action 'deletePart' part}}>clear</i>
	  <i class="material-icons large valign">attach_file</i>
	</div>
      </a>
    {{/each}}
  {{#file-picker fileLoaded='addPart' preview=false class="col s12 m6 grey lighten-3 grey-text"}}
    <div class="message center-align"><h5>Sleep een bestand of klik om een bestand op te laden.</h5></div>
  {{/file-picker}}
{{/unless}}
