{{#data-table noDataMessage='Geen helpers gevonden' enableSizes=false
     content=(await helpers) isLoading=(is-pending helpers)
     onClickRow=(action onClickRow) as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      <th>Aanspreking</th>
      <th>Voornaam</th>
      <th>Achternaam</th>
      <th>Email</th>
      <th>Aangepast</th>
      <th></th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.prefix}}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.email}}</td>
      <td>{{moment-format row.modified}}</td>
      <td>{{paper-icon "open in new" size=18}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
