<header>
  <!-- Contacts dropdown -->
  <ul id="contact-dropdown-nav" class="dropdown-content">
    <li>{{#link-to 'main.admin.musicians.index'}}Muzikanten{{/link-to}}</li>
    <li><a href="#!">Vrijwilligers</a></li>
    <li><a href="#!">Sponsors</a></li>
    <li><a href="#!">Sympathisanten</a></li>
  </ul>

  <!-- Admin dropdown -->
  <ul id="admin-dropdown-nav" class="dropdown-content">
    <li>{{#link-to 'main.admin.scores.index' 'active'}}Bibliotheek{{/link-to}}</li>
    <li>{{#link-to 'main.admin.attendeeTracking.index'}}Aanwezig{{/link-to}}</li>
  </ul>

  <!-- System dropdown -->
  <ul id="system-dropdown-nav" class="dropdown-content">
    <li>{{#link-to 'main.system.users'}}Gebruikers{{/link-to}}</li>
    <li>{{#link-to 'main.system.authorization'}}Rechten{{/link-to}}</li>
  </ul>

  <!-- Profile dropdown -->
  <ul id="profile-dropdown-nav" class="dropdown-content">
    <li>{{#link-to 'main.profile'}}Profiel{{/link-to}}</li>
    {{#if session.isAuthenticated}}
      {{logout-button}}
    {{/if}}
  </ul>

  <!-- Main navbar -->
  <nav>
    <div class="nav-wrapper navbar-fixed">
      <div class="container">
	{{#link-to 'main.index' class="brand-logo"}}Bravoer Backstage{{/link-to}}
	<a data-activates="mobile-navbar" class="button-collapse"><i class="material-icons">menu</i></a>
	<!-- Top menu (non-mobile) -->
	<ul class="right hide-on-med-and-down">
	  <li class="{{unless session.data.isMusician 'hide'}}">
	    {{#link-to 'main.scores.index'}}Partituren{{/link-to}}
	  </li>
	  <li class="{{unless session.data.isBoard 'hide'}}">
	    <a class="dropdown-button" data-activates="contact-dropdown-nav">Contacten<i class="material-icons right">arrow_drop_down</i></a>
	  </li>
	  <li class="{{unless session.data.isBoard 'hide'}}">
	    <a class="dropdown-button" data-activates="admin-dropdown-nav">Admin<i class="material-icons right">arrow_drop_down</i></a>
	  </li>
	  <li class="{{unless session.data.isAdmin 'hide'}}">
	    <a class="dropdown-button" data-activates="system-dropdown-nav">System<i class="material-icons right">arrow_drop_down</i></a>
	  </li>
	  <li><a class="dropdown-button right" data-activates="profile-dropdown-nav"><i class="material-icons right">account_circle</i></a></li>
	</ul>
	<!-- Mobile menu -->
	<ul class="side-nav" id="mobile-navbar">
	  <li class="{{unless session.data.isMusician 'hide'}}">
	    {{#link-to 'main.scores.index'}}Partituren{{/link-to}}
	  </li>
	  <li class="no-padding">
	    <ul class="collapsible">
	      <!-- Contacts dropdown -->
	      <li class="{{unless session.data.isBoard 'hide'}}">
		<a class="collapsible-header">Contacten</a>
		<div class="collapsible-body">
		  <ul>
		    <li>{{#link-to 'main.admin.musicians.index'}}Muzikanten{{/link-to}}</li>
		    <li><a href="#!">Vrijwilligers</a></li>
		    <li><a href="#!">Sponsors</a></li>
		    <li><a href="#!">Sympathisanten</a></li>
		  </ul>
		</div>
	      </li>
	      <!-- Admin dropdown -->
	      <li class="{{unless session.data.isBoard 'hide'}}">
		<a class="collapsible-header">Admin</a>
		<div class="collapsible-body">
		  <ul>
		    <li>{{#link-to 'main.admin.scores.index' 'active'}}Bibliotheek{{/link-to}}</li>
		    <li>{{#link-to 'main.admin.attendeeTracking.index'}}Aanwezigheden{{/link-to}}</li>
		  </ul>
		</div>
	      </li>
	      <!-- System dropdown -->
	      <li class="{{unless session.data.isAdmin 'hide'}}">
		<a class="collapsible-header">System</a>
		<div class="collapsible-body">
		  <ul>
		    <li>{{#link-to 'main.system.users'}}Gebruikers{{/link-to}}</li>
		    <li>{{#link-to 'main.system.authorization'}}Rechten{{/link-to}}</li>
		  </ul>
		</div>
	      </li>
	      <!-- Profile dropdown -->
	      <li>
		<a class="collapsible-header">Gebruiker</a>
		<div class="collapsible-body">
		  <ul>
		    <li>{{#link-to 'main.profile'}}Profiel{{/link-to}}</li>
		    {{#if session.isAuthenticated}}{{logout-button}}{{/if}}
		  </ul>
		</div>
	      </li>
	    </ul>
	  </li>
	</ul>
      </div>
    </div>
  </nav>
</header>
