<div class="row">
  <div class="col s12 m6 l4">
    <div class="row feedback-message">
      {{#if errorMessage}}
	{{#md-card-panel class="orange" bodyClass="white-text"}}
	  {{errorMessage}}
	{{/md-card-panel}}
      {{/if}}
    </div>
    <form class="change-password-form" {{action "changePassword" on="submit"}}>
      <div>
	{{md-input value=oldPassword type="password" label="Oud wachtwoord"}}
      </div>
      <div>
	{{md-input value=newPassword type="password" label="Nieuw wachtwoord"}}
      </div>
      <div>
	{{md-input value=newPasswordConfirmation type="password" label="Herhaal nieuw wachtwoord"}}
      </div>
      <div>
	{{md-btn-submit text='Wijzig'}}
      </div>
    </form>
  </div>
</div>
