<div class="login-table row">
  <div class="login-table-cell">
  <div class="col s12 z-depth-4 card-panel">
    <form class="login-form" {{action "login" on="submit"}}>
        <div class="row">
          <div class="input-field col s12 center">
            <img src="assets/images/logo.jpg" alt="" class="circle responsive-img valign logo">
          </div>
        </div>
	<div class="row center-align">
	  {{#if loading}}
	    {{md-loader mode='circular' size='small' color='green'}}
	  {{/if}}
	  {{#if errorMessage}}
	    {{#md-card-panel class="orange" bodyClass="white-text"}}
	      {{errorMessage}}
	    {{/md-card-panel}}
	  {{/if}}
	</div>
        <div class="row">
          <div class="col s12">
	    {{md-input value=nickname label="Gebruikersnaam" icon="mdi-social-person-outline"}}
          </div>
        </div>
        <div class="row">
          <div class="col s12">
	    {{md-input value=password label="Wachtwoord" type="password" icon="mdi-action-lock-outline"}}
          </div>
        </div>
        <div class="row">
          <div class="col s12">
	    {{md-btn-submit text='Login' class="col s12 green"}}
          </div>
        </div>
      </form>
  </div>
  </div>
</div>

