<div class="row">
  <div class="col s12">
    <table class="striped hoverable">
      <thead>
        <tr>
	  <th>In archief</th>
	  <th>Titel</th>
	  <th>Componist</th>
	  <th>Arrangeur</th>
	  <th>Genre</th>
	  <th>Duur</th>
	  <th># Partituren</th>
	  <th></th>
        </tr>
      </thead>
      <tbody>
	{{#each scores as |score|}}
	  <tr {{action 'selectScore' score}}>
	    <td><form><p>{{input type='checkbox' checked=score.isArchived}}<label {{action 'toggleStatus' score}}/></p></form></td>
	    <td class="modal-trigger" href={{musicScoreModalId}}>{{score.title}}</td>
	    <td class="modal-trigger" href={{musicScoreModalId}}>{{score.composer}}</td>
	    <td class="modal-trigger" href={{musicScoreModalId}}>{{score.arranger}}</td>
	    <td class="modal-trigger" href={{musicScoreModalId}}>{{t-label value=score.genre}}</td>
	    <td class="modal-trigger" href={{musicScoreModalId}}>{{fmt-duration millis=score.duration}}</td>
	    <td class="modal-trigger" href={{musicScoreModalId}}>{{score.parts.length}}</td>
	    <td class="icons">
	      {{#link-to 'admin.scores.edit' score}}<i class="small mdi-editor-mode-edit"></i>{{/link-to}}
	      <a {{action 'delete' score}}><i class="small mdi-action-delete"></i></a>
	    </td>
	  </tr>
	{{else}}
	  <tr class="no-rows"><td colspan="8">Geen partituren</td></tr>
	{{/each}}
      </tbody>
    </table>
  </div>
</div>

{{music-score-modal score=selectedScore}}

{{yield}}
