<div class="modal music-score-modal">
  <div class="modal-top-buttons"><i class="small mdi-navigation-close modal-close"></i></div>
  <div class="modal-content">
    <h4>{{score.title}}</h4>
    <h5>{{score.composer}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</h5>
    <blockquote>{{score.description}}</blockquote>
    {{music-score-details-note score=score}}
    <div class="divider"></div>
    <table class="striped centered">
      <thead>
        <tr>
	  <th>Instrument</th>
	  <th>Stem</th>
	  <th>Toonaard</th>
	  <th>Sleutel</th>
	  <th></th>
        </tr>
      </thead>
      <tbody>
	{{#each part in score.musicParts}}
	  <tr>
	    <td>{{t-label value=part.instrument}}</td>
	    <td>{{t-label value=part.instrumentPart}}</td>
	    <td>{{part.key}}</td>
	    <td>{{t-label value=part.clef}}</td>
	    <td class="icons">
	      <a href={{part.file}} target="_blank" title="Download"><i class="small mdi-file-file-download"></i></a>
	    </td>
	  </tr>
	{{/each}}
      </tbody>
    </table>
  </div>
  <div class="modal-non-fixed-footer right-align">
    {{#link-to 'admin.musicScores.edit' score class="waves-effect waves-light btn modal-action modal-close"}}Bewerk{{/link-to}}
    <div class="modal-audit">{{audit-note auditable=score}}</div>
  </div>

</div>
