{{#paper-form onSubmit=(action save) as |form|}}
  <div class="layout-row">
    {{form.input label="Voornaam" value=musician.firstName onChange=(action (mut musician.firstName)) required=true}}
    {{form.input label="Achternaam" value=musician.lastName onChange=(action (mut musician.lastName)) required=true}}
  </div>
  <div class="layout-row">
    <div class="layout-column">
      {{#with musician.address as |address|}}
        <div class="layout-row">
          {{form.input label="Straat" value=address.street onChange=(action (mut address.street))}}
          {{form.input label="Nummer" value=address.number onChange=(action (mut address.number))}}
        </div>
        <div class="layout-row">
          {{form.input label="Postcode" value=address.postCode onChange=(action (mut address.postCode))}}
          {{form.input label="Gemeente" value=address.city onChange=(action (mut address.city))}}
        </div>
      {{/with}}
    </div>
    <div class="layout-column">
      {{form.input label="Email" value=musician.email onChange=(action (mut musician.email))}}

      <div class="layout-row layout-align-end-end">
        <div class="layout-column">
          {{#each musician.telephones as |phone i|}}
            {{form.input label=(concat "Telefoon " (inc i)) value=phone.value onChange=(action (mut phone.value))}}
          {{/each}}
        </div>
        {{#paper-button iconButton=true onClick=(action "addPhone")}}{{paper-icon "add"}}{{/paper-button}}
      </div>

      {{form.input label="Geboortedatum" value=musician.birthdateStr onChange=(action (mut musician.birthdateStr)) type="date"}}
    </div>
    <div class="layout-column">
      {{#paper-select label="Instrument" options=instruments selected=musician.instrument onChange=(action (mut musician.instrument)) as |instrument|}}
        {{capitalize instrument}}
      {{/paper-select}}

      <md-input-container class="md-input-has-value">
        <label>Groepen</label>
        <div class="layout-column layout-margin">
          {{#each groups as |group|}}
            <div>{{paper-checkbox label=(capitalize group.name) value=(contains group musician.groups) onChange=(action "toggleGroup" group)}}</div>
          {{/each}}
        </div>
      </md-input-container>
    </div>
  </div>
  <div class="layout-row">
    {{#form.submit-button accent=true raised=true}}Opslaan{{/form.submit-button}}
    {{#paper-button onClick=(action cancel) accent=true raised=true}}Terug{{/paper-button}}
  </div>
{{/paper-form}}
