{{#if isOpen}}
  {{#md-modal close='close'}}
    <div class="modal-content">
      <h4>Partituur toevoegen</h4>
      {{#unless part.file}}
	  {{#file-picker fileLoaded='addFile' preview=true showProgress=true class="grey-text"}}
	    <div class="message center-align"><h5>Sleep een bestand of klik om een bestand op te laden.</h5></div>
	  {{/file-picker}}
      {{else}}
        <form>
          <div class="row">
            <div class="col s6 m3">
              {{t-radios options=instruments value=part.instrument label="Instrument"}}
            </div>
            <div class="col s6 m3">
              {{t-radios options=instrumentParts value=part.instrumentPart label="Stem"}}
            </div>
	  </div>
         </form>
      {{/unless}}
    </div>
    
    <div class="modal-footer">
      {{#if part.file}}
	<a {{action 'savePart'}} class="modal-action waves-effect btn-flat">Opslaan</a>
      {{/if}}
      <a {{action 'close'}} class="modal-action modal-close waves-effect btn-flat">Annuleer</a>
    </div>
  {{/md-modal}}
{{/if}}
