{{#if isOpen}}
  {{#md-modal close='close'}}
    <div class="modal-content">
      <h4>{{score.title}}</h4>
      <h5>{{score.composer}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</h5>
      <blockquote>{{#if score.description}}{{score.description}}{{else}}Geen beschrijving{{/if}}</blockquote>
      {{score-detail-note score=score}}
      {{#unless score.parts}}
	<p>Nog geen partituren opgeladen</p>
      {{/unless}}
    </div>

    {{parts-table parts=score.parts delete='deletePart' download='downloadPart'}}
    
    <div class="modal-footer">
      <a {{action 'close'}} class="modal-action modal-close waves-effect btn-flat">Sluit</a>
      {{#link-to 'main.admin.scores.edit' score class="modal-action modal-close waves-effect btn-flat"}}Bewerk{{/link-to}}
      <div class="modal-audit">{{audit-note auditable=score}}</div>
    </div>
    {{/md-modal}}
{{/if}}
