<div class="layout-row layout-align-start-center">
  <h1>{{score.title}}</h1>
  <div><span class="badge">{{#if score.isOriginal}}origineel{{else}}kopie{{/if}}</span></div>
  {{#paper-button onClick=(action enableEdit) iconButton=true}}{{paper-icon "edit"}}{{/paper-button}}
  {{#paper-button onClick=(action "openDialog") iconButton=true}}{{paper-icon "delete"}}{{/paper-button}}
</div>
<h2>{{score.composer}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</h2>
<blockquote>{{#if score.comment}}{{score.comment}}{{else}}Geen opmerkingen{{/if}}</blockquote>
<dl>
  <dt>Genre</dt>
  <dd>{{#if score.genre}}{{score.genre}}{{else}}-{{/if}}</dd>
  <dt>Uitgeverij</dt>
  <dd>{{#if score.publisher}}{{score.publisher}}{{else}}-{{/if}}</dd>
  <dt>Plaats</dt>
  <dd>{{#if score.location}}{{score.location}}{{else}}-{{/if}}</dd>
  <dt>Uitgeleend aan</dt>
  <dd>{{#if score.loan}}{{score.loan}}{{else}}-{{/if}}</dd>
</dl>
{{audit-note auditable=score}}

{{#if selectedScore}}
  {{#paper-dialog fullscreen=true onClose=(action "closeDialog")}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Opgelet</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-dialog-content}}
      {{#unless isDeleting}}
        <p>Ben je zeker dat je {{selectedScore.title}} en bijhorende partituren wil verwijderen?</p>
      {{else}}
        <p>Partituren verwijderen...</p>
        {{paper-progress-linear}}
      {{/unless}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Annuleer{{/paper-button}}
      {{#paper-button primary=true onClick=(action "confirmDelete")}}Ja, zeker{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}