<td>{{attendee.name}}</td>
<td>
  {{#if (is-pending attendee.attendances)}}
    {{spinkit-fading-circle}}
  {{else}}
    {{attendee.attendances.length}}
  {{/if}}
</td>
<td>
  {{#if (is-pending attendee.legitimateAbsences)}}
    {{spinkit-fading-circle}}
  {{else}}
    {{attendee.legitimateAbsences.length}}
  {{/if}}
</td>
<td>
  {{#if (is-pending attendee.illegitimateAbsences)}}
    {{spinkit-fading-circle}}
  {{else}}
    {{attendee.illegitimateAbsences.length}}
  {{/if}}
</td>


