{{#liquid-bind model use="toRight" as |liquidModel|}}
<h1>{{liquidModel.name}} ({{moment-format liquidModel.startDate 'L'}})</h1>

<div class="layout-row autocomplete-input">
  {{paper-icon "search"}}
  <div class="flex">
    {{sympathizers-autocomplete onSelectionChange=(action "addHelper") label="Zoek een helper om toe te voegen"}}
  </div>
</div>

<h2>Helpers</h2>
{{helpers-table helpers=liquidModel.helpers onClickRow=(action "goToDetail")}}

{{liquid-outlet}}
{{/liquid-bind}}