<h1>Partituren</h1>

<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
	  <th>Titel</th>
	  <th>Componist</th>
	  <th>Arrangeur</th>
	  <th>Genre</th>
	  <th>Duur</th>
	  <th># Partituren</th>
	  <th></th>
        </tr>
      </thead>
      <tbody>
	{{#each score in controller}}
	  <tr {{action 'selectScore' score}}>
	    <td class="modal-trigger" href="#music-score-modal">{{score.title}}</td>
	    <td class="modal-trigger" href="#music-score-modal">{{score.composer}}</td>
	    <td class="modal-trigger" href="#music-score-modal">{{score.arranger}}</td>
	    <td class="modal-trigger" href="#music-score-modal">{{t-label value=score.genre}}</td>
	    <td class="modal-trigger" href="#music-score-modal">{{fmt-duration millis=score.duration}}</td>
	    <td class="modal-trigger" href="#music-score-modal">{{score.musicParts.length}}</td>
	    <td class="icons">
	      {{#link-to 'admin.musicScores.edit' score}}<i class="small mdi-editor-mode-edit"></i>{{/link-to}}
	      <i class="small mdi-action-delete"></i>
	    </td>
	  </tr>
	{{/each}}
      </tbody>
    </table>
    {{music-score-modal score=selectedScore}}
  </div>
</div>

{{outlet}}
