{{#paper-button iconButton=true onClick=(action "cancel")}}{{paper-icon "arrow backward"}}{{/paper-button}}

<div class="content-container">
  {{#liquid-if editMode class="edit-mode-toggle"}}
    <h1>Bewerk: {{model.name}}</h1>
    <div class="layout-gt-md-row layout-column layout-margin">
      <div class="sympathizer-metadata flex-noshrink">
        {{sympathizer-form sympathizer=model save=(action "save") cancel=(action "cancel")}}
      </div>
    </div>
  {{else}}
    <div class="layout-gt-md-row layout-column layout-margin">
      <div class="sympathizer-metadata flex-noshrink">
        {{sympathizer-detail sympathizer=model enableEdit=(action (mut editMode) true) cancel=(action "cancel")}}
      </div>
    </div>
  {{/liquid-if}}
</div>
