<div class="row">
  <div class="col s12">
    {{#if editMode}}
      <h3>Bewerk {{model.name}}</h3>
      {{sympathizer-form sympathizer=model}}

      <div class="row">
        {{#md-btn action='save'}}Opslaan{{/md-btn}}
        {{#md-btn action='cancelEdit'}}Annuleer{{/md-btn}}
      </div>
    {{else}}
      <div class="row">
        <div class="col s12 m6 l3">
          {{#if model.organizationName}}
            <h4>{{model.organizationName}}</h4>
            {{#if model.lastName}}{{model.firstName}} {{model.lastName}}{{/if}}
          {{else}}
            <h4>{{model.name}}</h4>
          {{/if}}
          <div>{{model.address.street}} {{model.address.number}}</div>
          <div>{{model.address.postCode}} {{model.address.city}}</div>
        </div>
        <div class="col s12 m6 l3">
          <h4>Contactgegevens</h4>
          <div class="icon-prefix-item"><i class="material-icons">mail</i> <span>{{model.email}}</span></div>
          {{#each model.telephones as |tel|}}
            <div class="icon-prefix-item"><i class="material-icons">phone</i> <span>{{tel.value}}</span></div>
          {{/each}}
        </div>
        <div class="col s12 m6 l3">
          <h4>Communicatie</h4>
          <div class="icon-prefix-item"><i class="material-icons">{{#if (eq model.communication 'paper')}}check_box{{else}}check_box_outline_blank{{/if}}</i> <span>Uitnodiging op papier</span></div>
        </div>
      </div>

      <div class="row">
        {{audit-note auditable=model}}
      </div>

      <div class="row">
        {{#md-btn action='toggleEdit'}}Bewerk{{/md-btn}}
        {{#md-btn action='back'}}Terug{{/md-btn}}
      </div>
    {{/if}}
  </div>
</div>
