<div class="card grey lighten-4">
  <div class="card-content">
    <span class="card-title">{{score.title}}</span>
    <div class="card-subtitle">{{score.composer}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</div>
    {{#if filteredParts}}
      {{#each filteredParts as |part|}}
        <div class="chip" {{action 'download' part}}>
	        {{part.description}}
          <i class="material-icons">file_download</i>
        </div>
      {{/each}}
    {{else}}
      <div class="empty-collection">Geen partituren beschikbaar</div>
    {{/if}}
  </div>
</div>
