{{#unless part}}
  <div class="row">
    <div class="file-field input-field file-dropzone">
      <div class="message center-align"><h5>Klik om een bestand op te laden</h5></div>
      {{file-upload file=file error=error isLoading=isLoading}}
    </div>
    {{#if isLoading}}{{md-loader}}{{/if}}
    {{#if errorMessage}}<div class="card-panel red lighten-4 center"><h5>{{errorMessage}}</h5></div>{{/if}}
  </div>
{{else}}
  <div class="row grey lighten-4 card-panel">
    <h5>Uploading {{part.name}}</h5>
    <div class="col s12">
      {{t-radios options=instruments value=part.instrument label="Instrument" horizontal=true}}
    </div>
    <div class="col s12">
      {{t-radios options=instrumentParts value=part.instrumentPart label="Stem" horizontal=true}}
    </div>
    <div class="right">
      <a class="btn-floating waves-effect waves-light green" {{action 'save'}}>
        <i class="material-icons">check</i>
      </a>
      <a class="btn-floating waves-effect waves-light red" {{action 'cancel'}}>
        <i class="material-icons">close</i>
      </a>
    </div>
	</div>
{{/unless}}