<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m4">
	{{md-input value=model.contact.prefix label="Aanspreking"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.firstName label="Voornaam"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.lastName label="Achternaam"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.instrument label="Instrument"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.email label="Email"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.birthdate label="Geboortedatum"}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
	{{md-input value=model.address.street label="Straat"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.address.number label="Nummer"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.address.postCode label="Postcode"}}
      </div>
      <div class="input-field col s12 m6">
	{{md-input value=model.address.city label="Gemeente"}}
      </div>
    </div>
    <div class="row">
      {{#each model.telephones as |telephone|}}
	<div class="input-field col s12 m6">
	  {{md-input value=telephone.value label="Telefoon"}}
	</div>
      {{/each}}
    </div>
  </form>
</div>

<div class="row">
  {{#md-btn action='save'}}Opslaan{{/md-btn}}
  {{#md-btn action='cancel'}}Annuleer{{/md-btn}}
</div>
