<h1>Partituren</h1>

<div class="row">
  <div class="col s12 m6 l3">
    <label>Instrument</label>
    {{view "select" content=instruments optionValuePath="content.value" optionLabelPath="content.label" value=instrument }}      
  </div>
</div>

<div class="row">
  {{#each score in scoresWithFilteredParts}}
    <div class="col s12 m6">
      <div class="card grey lighten-4">
	<div class="card-content">
          <span class="card-title">{{score.title}}</span>
	  <p>{{score.componist}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</p>
	  <div class="card-action right-align">
	    {{#each part in score.filteredMusicParts}}
              <a class="btn" {{bind-attr href=part.file}} target="_blank">
		{{#if part.instrumentPart}}
		  {{part.instrumentPart}}
		{{else}}
		  Download
		{{/if}}
	      </a>
	    {{else}}
	      <a class="btn disabled">Niet beschikbaar</a>
	    {{/each}}
          </div>
	</div>
      </div>
    </div>
  {{/each}}
</div>

{{outlet}}
