<h2>Gegevens</h2>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m8">
	{{md-input value=model.title label="Titel"}}
      </div>
      <div class="col s12 m2">
	{{t-select options=genres value=model.genre label="Genre"}}
      </div>
      <div class="input-field col s12 m2">
	{{md-check name="In archief" checked=model.isArchived}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
	{{md-input value=model.composer label="Componist"}}
      </div>
      <div class="input-field col s12 m4">
        {{md-input value=model.arranger label="Arrangeur"}}
      </div>
      <div class="input-field col s12 m4">
        {{md-input value=model.publisher label="Publisher"}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m10">
	{{md-textarea value=model.description label="Beschrijving"}}
      </div>
	<div class="input-field col s12 m2">
	  {{#md-input-duration for="duration" millis=model.duration}}Duur{{/md-input-duration}}
	</div>
    </div>
  </form>
</div>

<h2>Partituren </h2>
<span><a class="btn-floating waves-effect waves-light modal-trigger" href="#music-part-form-modal"><i class="mdi-content-add"></i></a></span>
<div class="row">
    <table class="striped centered">
      <thead>
	<tr>
	  <th>Instrument</th>
	  <th>Stem</th>
	  <th>Toonaard</th>
	  <th>Sleutel</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	{{#unless model.isNew}}
	  {{#each model.parts as |part|}}
	    <tr>
	      <td>{{t-label value=part.instrument}}</td>
	      <td>{{t-label value=part.instrumentPart}}</td>
	      <td>{{part.key}}</td>
	      <td>{{t-label value=part.clef}}</td>
	      <td class="icons">
		<a href={{part.file}} target="_blank" title="Download"><i class="small mdi-file-file-download"></i></a>
		<a {{action "deleteMusicPart" part}} title="Verwijder"><i class="small mdi-action-delete"></i></a>
	      </td>
	    </tr>
	  {{/each}}
	{{else}}
	  <tr class="no-rows"><td colspan="5">Nog geen partituren opgeladen</td></tr>
	{{/unless}}
      </tbody>
    </table>
  {{music-part-form-modal action="addMusicPart"}}
</div>

<div class="row">
  <a class="btn waves-effect waves-light" {{action 'save'}}>Opslaan</a>
  <a class="btn waves-effect waves-light" {{action 'cancel'}}>Annuleer</a>
</div>
