{{edit-score score=model save="save" cancel="cancel"}}

<h2>Partituren </h2>
<span><a class="btn-floating waves-effect waves-light modal-trigger" href="#music-part-form-modal"><i class="mdi-content-add"></i></a></span>
<div class="row">
    <table class="striped centered">
      <thead>
	<tr>
	  <th>Instrument</th>
	  <th>Stem</th>
	  <th>Toonaard</th>
	  <th>Sleutel</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	{{#unless model.isNew}}
	  {{#each model.parts as |part|}}
	    <tr>
	      <td>{{t-label value=part.instrument}}</td>
	      <td>{{t-label value=part.instrumentPart}}</td>
	      <td>{{part.key}}</td>
	      <td>{{t-label value=part.clef}}</td>
	      <td class="icons">
		<a href={{part.file}} target="_blank" title="Download"><i class="small mdi-file-file-download"></i></a>
		<a {{action "deleteMusicPart" part}} title="Verwijder"><i class="small mdi-action-delete"></i></a>
	      </td>
	    </tr>
	  {{/each}}
	{{else}}
	  <tr class="no-rows"><td colspan="5">Nog geen partituren opgeladen</td></tr>
	{{/unless}}
      </tbody>
    </table>
  {{music-part-form-modal action="addMusicPart"}}
</div>

