<h3>Gebruikers</h3>

{{#each-in (group-by "majorGroup" musiciansWithGroup) as |group musicians|}}
  <h4>{{compute (action 'translate') group}}</h4>
  {{#md-table content=musicians as |contact|}}
    {{md-table-col row=contact valueBindingPath='lastName' header='Achternaam'}}
    {{md-table-col row=contact valueBindingPath='firstName' header='Voornaam'}}
    {{#md-table-col row=contact key='groups' header='Groepen'}}
      {{join ' | ' (map (action 'translate') (map-by 'name' contact.groups))}}
    {{/md-table-col}}
    {{#md-table-col row=contact key='user' header='Gebruiker'}}
      {{#power-select options=model.users selected=contact.user onchange=(action 'selectUser' contact) allowClear=true searchField='name' as |user|}}
        {{user.name}}
      {{/power-select}}
    {{/md-table-col}}
  {{/md-table}}
{{/each-in}}
