<div class="row">
  <div class="col s12 l8">
    {{#if editMode}}
      <h3>Bewerk partituur</h3>

      <div class="row">
      {{score-form score=model}}
        {{#md-btn action='save'}}Opslaan{{/md-btn}}
        {{#md-btn action='cancelEdit'}}Annuleer{{/md-btn}}
      </div>
    {{else}}
      <h3>{{model.title}}</h3>

      {{score-form score=model}}
      <div class="row">
        {{#md-btn action='toggleEdit'}}Bewerk{{/md-btn}}
        {{#md-btn action='back'}}Terug{{/md-btn}}
      </div>
    {{/if}}
  </div>
  {{#if model.parts}}
    <div class="col s12 l4">
      <h3>Bestanden</h3>
      {{parts-table parts=model.parts delete='deletePart' download='downloadPart'}}
    </div>
  {{/if}}
</div>
