{{#paper-button iconButton=true onClick=(action "cancel")}}{{paper-icon "arrow backward"}}{{/paper-button}}

<div class="content-container">
  {{#liquid-if editMode class="edit-mode-toggle"}}
    <h1>Bewerk: {{model.title}}</h1>
    <div class="layout-gt-md-row layout-column layout-margin">
      <div class="left-panel flex-noshrink">
        {{score-form score=model save=(action "save") cancel=(action "cancel")}}
      </div>
      <div class="score-parts layout-fill">
        {{parts-upload-grid score=model}}
      </div>
    </div>
  {{else}}
    <div class="layout-gt-md-row layout-column layout-margin">
      <div class="left-panel flex-noshrink">
        {{score-detail score=model enableEdit=(action (mut editMode) true) cancel=(action "cancel")}}
      </div>
      <div class="score-parts layout-fill">
        <h1>Partituren</h1>
        {{#if (is-pending model.parts)}}
          {{paper-progress-linear}}
        {{else}}
          {{parts-table content=model.parts}}
        {{/if}}
      </div>
    </div>
  {{/liquid-if}}
</div>
