{{#burger-menu animation='push' translucentOverlay=false as |burger|}}
  {{#burger.menu itemTagName="li" dismissOnItemClick=true as |menu|}}
    <a {{action burger.state.actions.close}} class="icon-close"><i class="material-icons">close</i></a>

    <div class="menu-title"></div>
    <ul>
      {{#menu.item}}
        {{link-to 'Home' 'main.index'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Partituren' 'main.scores.index'}}
      {{/menu.item}}
    </ul>

    {{#if session.data.isBoard}}
    <div class="menu-title">Beheer</div>
    <ul>
      {{#menu.item}}
        {{link-to 'Contacten' 'main.admin.musicians.index'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Bibliotheek' 'main.admin.scores.index' 'active'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Aanwezigheden' 'main.admin.attendeeTracking.index'}}
      {{/menu.item}}
    </ul>
    {{/if}}

    {{#if session.data.isAdmin}}
    <div class="menu-title">Systeem</div>
    <ul>
      {{#menu.item}}
        {{link-to 'Gebruikers' 'main.system.users'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Rechten' 'main.system.authorization'}}
      {{/menu.item}}
    </ul>
    {{/if}}

    <div class="menu-title">Gebruiker</div>
    <ul>
      {{#menu.item}}
        {{link-to 'Profiel' 'main.profile'}}
      {{/menu.item}}
      {{#menu.item}}
        <a href="mailto:backstage@bravoer.be">Vragen/opmerkingen</a>
      {{/menu.item}}
      {{#menu.item}}
        {{logout-button}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <div class="main-header">
      <a class="hamburger" {{action burger.state.actions.toggle}}><i class="material-icons">menu</i></a>
    </div>
    <div class="row"><div class="col s12">{{outlet}}</div></div>
  {{/burger.outlet}}
{{/burger-menu}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
