<h1>Muziekstukken</h1>

<div class="row">
</div>

<div class="row">
  {{#each model as |score|}}
    <div class="col s12 m6 l4">
      {{#md-card title=score.title class="grey lighten-4"}}
	{{#md-card-content}}
	  <div class="card-subtitle">{{score.composer}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</div>
	  {{score-detail-note score=score}}
	  {{#if score.parts}}
	    {{#md-collection content=score.parts as |part|}}
	      <div class='collection-item'>
		{{part.file}}
	      </div>
	    {{/md-collection}}
	  {{else}}
	    <a class="btn disabled">Geen partituren beschikbaar</a>
          {{/if}}
	{{/md-card-content}}
      {{/md-card}}
    </div>
  {{/each}}
</div>

{{outlet}}
