<h1>Muziekstukken</h1>

<div class="row">
</div>

<div class="row">
  {{#each model as |score|}}
    <div class="col s12 m6 l4">
      {{#md-card title=score.title class="grey lighten-4"}}
	{{#md-card-content}}
	  <div class="card-subtitle">{{score.composer}}{{#if score.arranger}}, arr. {{score.arranger}}{{/if}}</div>
	  <div class="row">{{score-detail-note score=score}}</div>
	  {{#if score.parts}}
	    {{#md-collection content=score.parts as |part|}}
	      <div class='collection-item grey lighten-4'>
		{{part.name}}
		<a href={{part.file}} target="_blank" class='secondary-content'>
		  <i class="material-icons">attach_file</i>
		</a>
	      </div>
	    {{/md-collection}}
	  {{else}}
	    <div class="row right">
	      <a class="btn disabled">Geen partituren beschikbaar</a>
	    </div>
          {{/if}}
	{{/md-card-content}}
      {{/md-card}}
    </div>
  {{/each}}
</div>

{{outlet}}
